:root {
  font-family: "Exo 2", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 56px auto 0;
  max-width: 588px;
  background: linear-gradient(to top right, #020202, #5b97e6) no-repeat;
}

.tab {
  width: 100%;
  max-width: 588px;
  margin: 0 0 56px;
  padding: 0 24px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

.top {
  background: #fdfeffe7;
  height: 80vh;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: "Exo 2", sans-serif;
}

th,
td {
  border: 1px solid #022f69;
  text-align: center;
  padding: 8px;
  margin: 0 auto 8px;
  font-weight: 500;
  line-height: 24px;
  color: #022f69;
}
input {
  border-radius: 5px;
  border-color: #022f69;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.emolumentos {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 200px;
  color: #022f69;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  font-size: 18px;
  padding: 5px 10px;
  margin: 50px 200px 0;
  border-radius: 10px;
  border-color: #c1d5f0;
  background: #fdfeffe7;
  color: #022f69;
}

#about {
  margin: 350px 500px;
}
h1 {
  color: #022f69;
  margin: 10px;
}
.welcome {
  color: #022f69;
  margin: 30px;
  text-align: justify;
}

p {
  color: #fdfeff71;
  margin: 5px 0;
}

h2 {
  color: #022f69;
  margin: 5px;
}
h3 {
  color: #fdfeff71;
  margin: 5px 0px;
}
h4 {
  color: #fdfeff71;
  margin: 5px 0px;
}
.doc1 {
  margin: 10px 20px 50px;
  color: #022f69;
  font-size: 18px;
}
option {
  font-family: "Exo 2", sans-serif;
  color: #022f69;
}
select {
  font-family: "Exo 2", sans-serif;
  color: #022f69;
  border-color: #022f69;
  border-radius: 5px;
}

#social-links {
  display: flex;
  padding: 100px;
}

@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital@1&display=swap");
